<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {% extends "learning_logs/base.html"%}

    {% block header %}
        <div class="jumbotron">
            <h1>Acompanhe seu aprendizado.</h1>
        </div>
    {% endblock header %}

    {% block content %}
        <h2>
            <a href="{% url 'register' %}">Crie uma conta</a> para utilizar o Learning Log w liste os tópicos que você está aprendendo.
        </h2>
    {% endblock content %}
    
</body>
</html>